.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %p.side-bar__user-name__top-items__name 
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: "side-bar__user-name__top-items__icons__btn" do
          = icon('fas', 'edit', class: "side-bar__user-name__top-items__icons__btn--right")
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-items__icons__btn" do
          = icon('fas', 'cog')
  .side-bar__group-name
    - current_user.groups.each do |group|
      .side-bar__group-name__seconds-items
        = link_to group_messages_path(group) ,class: "side-bar__group-name__seconds-items__btn" do
          .side-bar__group-name__seconds-items__btn__name 
            = group.name
          %p.side-bar__group-name__seconds-items__btn__message
            = group.show_last_message

    